body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  color: rgb(21, 158, 140);
  text-align: center;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #159e8c;
  margin-right: 20px;
}
.nav-links a:hover {
  color: #07ffda;
  text-decoration: underline;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 30px;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 35px;
  margin-top: -100px;
}

.custom-header {
  background-color: #0c534a;
  border-radius: 20px;
  height: 20px;
  padding: 20px;
  position: sticky;
  top: 0;
}

.custom-header img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}
.footer {
  background-color: #0c534a;
  color: #fff;
  text-align: left;
  padding: 20px;
  width: 97%;
  border-radius: 20px;
}
.footer a {
  color: #fff;
  margin: 0 10px;
}
.footer a:hover {
  color: black;
  text-decoration: underline;
}
.footer p {
  margin: 0 10px;
  margin-left: 78.5%;
  font-size: 12px;
}
img {
  width: 300px;
  height: 300px;
  margin-left: 110px;
}
.image-row {
  display: flex;
  justify-content: space-between;
  margin-left: -50px;
  margin-right: 150px;
}
.image-row img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    margin: -20px 0 0 150px;
  }
  .image-row img {
    margin: 0 0 0 60px;
  }
  P {
    text-align: justify;
  }

  img {
    margin-left: 30px;
  }

  .footer p {
    margin-left: 70%;
  }
}

@media screen and (max-width: 768px) {
  .image-row {
    display: flex;
    margin: 0;
  }
  .image-row img {
    margin: 0;
    width: 120px;
    height: 120px;
  }

  img {
    width: 200px;
    height: 200px;
    margin-left: 40px;
  }
  .footer {
    width: 94%;
  }
}

@media screen and (max-width: 425px) {
  .custom-header img {
    width: 70px;
    height: 70px;
    margin-left: 10px;
  }
  .nav-links {
    margin: 20px 0 0 0;
    font-size: 12px;
  }
  .image-row {
    flex-wrap: wrap;
    gap: 10px;
  }

  main {
    margin-top: 50px;
  }

  P {
    text-align: justify;
    font-size: 12px;
  }

  img {
    margin: 0 0 12px 120px;
    width: 40vw;
    height: 40vw;
  }

  .footer {
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    width: 89%;
  }

  .footer a {
    margin-left: 12px;
    margin-right: 0;
    gap: 14px;
    font-size: 13px;
  }
  .footer p {
    margin-left: 10%;
    margin-top: 12px;
  }
}

@media screen and (max-width: 320px) {
  .nav-links {
    margin: 0;
  }
  img{
    margin-left: 100px;
  }
}
