body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  color: rgb(21, 158, 140);
  text-align: center;
  text-decoration: underline;
}
.content {
  display: flex;
  justify-content: space-between;
}
.content p {
  width: 105%;
}
.content img {
  width: 55%;
  height: 550px;
}
a {
  text-decoration: none;
  color: #159e8c;
  margin-right: 20px;
}
.nav-links a:hover {
  color: #07ffda;
  text-decoration: underline;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 30px;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 35px;
  margin-top: -100px;
}

.custom-header {
  background-color: #0c534a;
  border-radius: 20px;
  height: 20px;
  padding: 20px;
  position: sticky;
  top: 0;
}

.custom-header img {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}
.footer {
  background-color: #0c534a;
  color: #fff;
  text-align: left;
  padding: 20px;
  width: 97%;
  border-radius: 20px;
}
.footer a {
  color: #fff;
  margin: 0 10px;
}
.footer a:hover {
  color: black;
  text-decoration: underline;
}
.footer p {
  margin: 0 10px;
  margin-left: 78.5%;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 50px;
  }
  .nav-links {
    margin-top: -15px;
  }

  .content {
    float: none;
    display: flex;
    flex-direction: column-reverse;
  }

  .content img {
    justify-items: center;
    width: 50%;
    height: 400px;
    margin-left: 150px;
  }

  .content p {
    width: 100%;
    text-align: justify;
  }
  .custom-header {
    width: 95%;
  }

  .footer {
    width: 93%;
  }
}

@media screen and (max-width: 425px) {
  .custom-header {
    width: 88%;
  }
  .custom-header img {
    width: 80px;
    height: 80px;
    margin-left: 0px;
  }
  .footer a {
    font-size: 13px;
    margin: 0;
    gap: 20px;
  }
  .footer p {
    margin-left: 0;
  }

  .footer{
    width: 87%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    margin:-20px 0 0 180px;
  }
}
